.parent {
    width: 100%;
    padding: 20px;
    perspective: 1000px;
  }
  
  .card {
    padding-top: 40px;
    /* border-radius: 10px; */
    border: 3px solid rgb(255, 255, 255);
    transform-style: preserve-3d;
    background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
        repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
    background-size: 60px 60px;
    background-position: 0 0, 0 0;
    background-color: #f0f0f0;
    width: 100%;
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
    transition: all 0.5s ease-in-out;
  }
  
  .card:hover {
    background-position: -50px 50px, -50px 50px;
    transform: rotate3d(0.5, 1, 0, 15deg);
  }
  
  .content-box {
    background: rgba(4, 193, 250, 0.732);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
  }

  .content-box-Homem {
    background: rgba(4, 193, 250, 0.732);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
  }

  .content-box-Mulher {
    background: rgba(211, 106, 214, 0.732);
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
  }
  
  .content-box .card-title,
  .content-box-Homem .card-title,
  .content-box-Mulher .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(10px, -30px, 10px);
  }
  
  .content-box .card-title:hover,
  .content-box-Homem .card-title:hover,
  .content-box-Mulher .card-title:hover {
    transform: translate3d(-5px, -20px, 80px);
  }
  
  .content-box .card-content,
  .content-box-Homem .card-content,
  .content-box-Mulher .card-content {
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 800;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(10px, -30px, 20px);
  }
  
  .content-box .card-content:hover,
  .content-box-Homem .card-content:hover,
  .content-box-Mulher .card-content:hover {
    transform: translate3d(0px, -10px, 60px);
  }
  
  .content-box .see-more {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 9px;
    text-transform: uppercase;
    color: rgb(7, 185, 255);
    border-radius: 10px;
    background: white;
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }


  .content-box-Homem .see-more,
  .content-box-Homem .see-more-skill {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 9px;
    text-transform: uppercase;
    color: rgb(7, 185, 255);
    border-radius: 10px;
    background: white;
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }


  .content-box-Mulher .see-more,
  .content-box-Mulher .see-more-skill {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 9px;
    text-transform: uppercase;
    color: rgb(205, 7, 255);
    border-radius: 10px;
    background: white;
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }
  
  .content-box .see-more:hover,
  .content-box-Homem .see-more:hover,
  .content-box-Mulher .see-more:hover,
  .content-box-Homem .see-more-skill:hover,
  .content-box-Mulher .see-more-skill:hover {
    transform: translate3d(0px, 0px, 60px);
    
  }
  
  .name-box {
    position: absolute;
    top: 12px;
    right: 30px;
    left: 30px;
    height: 50px;
    width: 80%px;
    background: white;
    border: 1px solid rgb(7, 185, 255);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 30px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
  }

  .name-box-Homem {
    position: absolute;
    top: 12px;
    right: 30px;
    left: 30px;
    height: 50px;
    width: 80%px;
    background: white;
    border: 1px solid rgb(7, 185, 255);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 30px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
  }

  .name-box-Mulher {
    position: absolute;
    top: 12px;
    right: 30px;
    left: 30px;
    height: 50px;
    width: 80%px;
    background: white;
    border: 1px solid rgb(255, 7, 243);
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 30px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
  }

  .coef-box-Homem {
    position: relative;
    top: 10px;
    bottom: 20px;
    right: 0px;
    left: 0px;
    height: 50px;
    width: 80%px;
    background: white;
    border: 1px solid rgb(7, 185, 255);
    /* border-radius: 10px; */
    text-align: center;
    padding: 10px;
    transform: translate3d(0px, 0px, 30px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
  }

  .coef-box-Mulher {
    position: relative;
    top: 10px;
    bottom: 20px;
    right: 0px;
    left: 0px;
    height: 50px;
    width: 80%px;
    background: white;
    border: 1px solid rgb(255, 7, 243);
    /* border-radius: 10px; */
    text-align: center;
    padding: 10px;
    transform: translate3d(0px, 0px, 30px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
  }
  
  .name-box span,
  .name-box-Homem span,
  .name-box-Mulher span {
    display: block;
    text-align: center;
  }

  .coef-box-Homem span,
  .coef-box-Mulher span {
    text-align: center;
  }
  
  .name-box .name, {
    color: rgb(4, 193, 250);
    font-size: 20px;
    font-weight: 1000;
  }

  .name-box-Homem .name {
    color: rgb(4, 193, 250);
    font-size: 20px;
    font-weight: 1000;
  }

  .name-box-Mulher .name {
    color: rgb(201, 4, 250);
    font-size: 20px;
    font-weight: 1000;
  }

  .coef-box-Homem .name {
    color: rgb(4, 193, 250);
    font-size: 20px;
    font-weight: 1000;
  }

  .coef-box-Mulher .name {
    color: rgb(201, 4, 250);
    font-size: 20px;
    font-weight: 1000;
  }

  .content-box .tags {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(7, 185, 255);
    border-radius: 10px;
    background: white;
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }

  .content-box-Homem .tags {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(7, 185, 255);
    border-radius: 10px;
    background: white;
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }

  .content-box-Mulher .tags {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(234, 7, 255);
    border-radius: 10px;
    background: white;
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }
  
  .content-box .tags:hover {
    transform: translate3d(0px, 0px, 60px);
  }

  .content-box-Homem .tags:hover {
    transform: translate3d(0px, 0px, 60px);
  }

  .content-box-Mulher .tags:hover {
    transform: translate3d(0px, 0px, 60px);
  }

    
    @media screen and (max-width: 720px) {
    span.hidemob.see-more
    {
        display: none;
    }


}